if $cp
    -
        var template={
            head_title:"Gracias por realizar tu pedido, ya casi es tuyo",
            head_description:"No olvides realizar tu pago",
            body_detalle:"Detalle de tu pedido",
            button: false,
            button_text: "Seguimiento entrega",
            payment: "Pago con transferencia",
            status: "Pago pendiente",
            usr: "Hola Usuario",
            status_color: "#f6a623",
            reference: true,
            clabe: true,
            banco: true,
            vigencia: true,
        }

if $pottery
    -
        var multisite={
            logo: 'https://res.cloudinary.com/djrzn6cxw/image/upload/v1553192959/assets/pb/pb.png',
            help: 'https://res.cloudinary.com/djrzn6cxw/image/upload/v1553192960/assets/pb/help.svg',
            click: 'https://res.cloudinary.com/djrzn6cxw/image/upload/v1553192959/assets/pb/clickCollect.svg',
            envio: 'https://res.cloudinary.com/djrzn6cxw/image/upload/v1553192959/assets/pb/envioGratis.svg',
            primary_color: "#990000",
            link_instagram: "www.instagram.com/potterybarn",
            link_fb: "www.facebook.com/PotteryBarnMX/",
            fb: "https://res.cloudinary.com/djrzn6cxw/image/upload/v1553192959/assets/pb/fb.svg",
            instagram: "https://res.cloudinary.com/djrzn6cxw/image/upload/v1553192959/assets/pb/instagram.svg",
            shape: "https://res.cloudinary.com/djrzn6cxw/image/upload/v1553192959/assets/pb/chevron-right.svg"
        }


if $kids
    -
        var multisite={
            logo: 'https://res.cloudinary.com/djrzn6cxw/image/upload/v1553192991/assets/pbk/pbk_logo.png',
            help: 'https://res.cloudinary.com/djrzn6cxw/image/upload/v1553192992/assets/pbk/help.svg',
            click: 'https://res.cloudinary.com/djrzn6cxw/image/upload/v1553192991/assets/pbk/clickCollect.svg',
            envio: 'https://res.cloudinary.com/djrzn6cxw/image/upload/v1553192991/assets/pbk/envioGratis.svg',
            primary_color: "#80B9E6",
            link_instagram: "www.instagram.com/potterybarn",
            link_fb: "www.facebook.com/PotteryBarnMX/",
            fb: "https://res.cloudinary.com/djrzn6cxw/image/upload/v1553192991/assets/pbk/fb.svg",
            instagram: "https://res.cloudinary.com/djrzn6cxw/image/upload/v1553192991/assets/pbk/instagram.svg",
            shape: "https://res.cloudinary.com/djrzn6cxw/image/upload/v1553192991/assets/pbk/chevron-right.svg"
        }

if $teens
    -
        var multisite={
            logo: 'https://res.cloudinary.com/djrzn6cxw/image/upload/v1553193024/assets/pbt/pb-tenn.png',
            help: 'https://res.cloudinary.com/djrzn6cxw/image/upload/v1553193025/assets/pbt/help.svg',
            click: 'https://res.cloudinary.com/djrzn6cxw/image/upload/v1553193024/assets/pbt/clickCollect.svg',
            envio: 'https://res.cloudinary.com/djrzn6cxw/image/upload/v1553193024/assets/pbt/envioGratis.svg',
            primary_color: "#165388",
            link_instagram: "www.instagram.com/potterybarn",
            link_fb: "www.facebook.com/PotteryBarnMX/",
            fb: "https://res.cloudinary.com/djrzn6cxw/image/upload/v1553193024/assets/pbt/fb.svg",
            instagram: "https://res.cloudinary.com/djrzn6cxw/image/upload/v1553193024/assets/pbt/instagram.svg",
            shape: "https://res.cloudinary.com/djrzn6cxw/image/upload/v1553193024/assets/pbt/chevron-right.svg"
        }

if $west
    -
        var multisite={
            logo: 'https://res.cloudinary.com/djrzn6cxw/image/upload/v1553193062/assets/west-elm/ws.svg',
            help: 'https://res.cloudinary.com/djrzn6cxw/image/upload/v1553193064/assets/west-elm/help.svg',
            click: 'https://res.cloudinary.com/djrzn6cxw/image/upload/v1553193062/assets/west-elm/clickCollect.svg',
            envio: 'https://res.cloudinary.com/djrzn6cxw/image/upload/v1553193062/assets/west-elm/envioGratis.svg',
            primary_color: "#ED2724",
            link_instagram: "www.instagram.com/potterybarn",
            link_fb: "www.facebook.com/PotteryBarnMX/",
            fb: "https://res.cloudinary.com/djrzn6cxw/image/upload/v1553193064/assets/west-elm/help.svg",
            instagram: "https://res.cloudinary.com/djrzn6cxw/image/upload/v1553193062/assets/west-elm/instagram.svg",
            shape: "https://res.cloudinary.com/djrzn6cxw/image/upload/v1553193062/assets/west-elm/chevron-right.svg"
        }

if $william
    -
        var multisite={
            logo: 'https://res.cloudinary.com/djrzn6cxw/image/upload/v1553193108/assets/william-sonoma/william-sonoma.svg',
            help: 'https://res.cloudinary.com/djrzn6cxw/image/upload/v1553193110/assets/william-sonoma/help.svg',
            click: 'https://res.cloudinary.com/djrzn6cxw/image/upload/v1553193108/assets/william-sonoma/clickCollect.svg',
            envio: 'https://res.cloudinary.com/djrzn6cxw/image/upload/v1553193108/assets/william-sonoma/envioGratis.svg',
            primary_color: "#E81818",
            link_instagram: "www.instagram.com/potterybarn",
            link_fb: "www.facebook.com/PotteryBarnMX/",
            fb: "https://res.cloudinary.com/djrzn6cxw/image/upload/v1553193108/assets/william-sonoma/fb.svg",
            instagram: "https://res.cloudinary.com/djrzn6cxw/image/upload/v1553193108/assets/william-sonoma/instagram.svg",
            shape: "https://res.cloudinary.com/djrzn6cxw/image/upload/v1553193108/assets/william-sonoma/chevron-right.svg"
        }