if $cp
    -
        var template={
            head_title:"GRACIAS POR HE PERRO",
            head_description:"Recuerda conservar tu número",
            body_detalle:"Detalle de Cargos perro",
            button: true,
            button_text: "Seguimiento entrega perro",
        }

if $pottery
    -
        var multisite={
            logo: './assets/icons/pb-icons/pb.png',
            help: './assets/icons/pb-icons/help.png',
            click: './assets/icons/pb-icons/clickCollect.svg',
            envio: './assets/icons/pb-icons/envioGratis.svg',
            primary_color: "#990000",
            link_instagram: "www.instagram.com/potterybarn",
            link_fb: "www.facebook.com/PotteryBarnMX/",
            fb: "./assets/icons/pb-icons/social-network/fb.png",
            instagram: "./assets/icons/pb-icons/social-network/instagram.png"
        }