if  $liverpool
    $primary-color       = #e10098
    $primary-color-hover = #c20083
    $pale-pink= #ff87d8

    $regular = $font2 = 'robotoRegular'
    $light   = 'robotoLight'
    $medium  = 'robotoMedium'
    $bold    = 'robotoBold'

if  $pottery
    $primary-color       = #990000
    $primary-color-hover = #730000
    $pale-pink           = #c59999

    $regular = 'latoregular'
    $light   = 'latolight'
    $medium  = 'latomedium'
    $bold    = 'latobold'

    $font2   = 'centuryregular'

if  $kids
    $primary-color       = #80B9E6
    $primary-color-hover = #6394BF
    $pale-pink           = #99CFFF

    $regular = 'arialregular'
    $light   = 'ariallight'
    $medium  = 'arialmedium'
    $bold    = 'arialtbold'

    $font2   = 'georgiaregular'

if  $teens
    $primary-color       = #165388
    $primary-color-hover = #103E66
    $pale-pink           = #4192D9

    $regular = 'arialregular'
    $light   = 'ariallight'
    $medium  = 'arialmedium'
    $bold    = 'arialtbold'

    $font2   = 'trebuchetregular'

if  $west
    $primary-color       = #ED2724
    $primary-color-hover = #D31D1B
    $pale-pink           = #FF8280

    $regular = $font2 = 'gothamregular'
    $light   = 'gothamlight'
    $medium  = 'gothammedium'
    $bold    = 'gothambold'

if  $william
    $primary-color       = #E81818
    $primary-color-hover = #BF1313
    $pale-pink           = #E87474

    $regular = 'flamaregular'
    $light   = 'flamalight'
    $medium  = 'flamamedium'
    $bold    = 'flamabold'

    $font2   = 'timesregular'


// Style Guide Zeplin
$carbon= #333333
$red= #ff0000
$lime-green= #0abd3e
$timberwolf= #d8d8d8
$white= #ffffff
$light-gold= #ffd457
$soft-gray= #f5f5f5
$lead= #666666
$yellow-orange= #ec9e00
$pale-yellow= #fff4d4
$pale-green= #dffae7
$pale-red= #fbdede
$gray= #ada8a8
$silver= #eeeeee
$pale-pink= #ff87d8
$gray-light= #b3b3b3
$gray-mid = #f2f2f2
$gray-medium= #f3f3f3
$gray-lighter= #e4e4e4
$gray-dark= #444444
$gray-silver= #9b9b9b
$gray-darker= #dedede
$silver-light= #bfbfbf
$black-with-opacity = rgba(0,0,0,0.6)
$gray-night= #3b3b3b
$gray89 = #e3e3e3
$gray29 = #4a4a4a
$black= #000000
$nobel = #979797
$white-smoke = #f5f5f5
$very-dark-grayish-magenta = #3b2b3e
$yellow-rating= #ffe28f
$gray98 = #fafafa
$snow = #f9f9f9
$light-pink = #e54197
$background-color = #f5f5f5
$tangerine = #f5a623
$whisper = #e6e6e6
$b-shadow = 0 2px 8px 0 rgba(0, 0, 0, 0.3)
$b-shadow-card = 0 2px 4px 0 rgba(0, 0, 0, 0.15)
$b-shadow-popOver = 0 3px 5px 2px rgba(0, 0, 0, 0.15)
$dark = #484545
//Fonts

$title1    = 3rem     $font2
$title2    = 2.25rem  $font2
$title3    = 1.75rem  $font2
$title4    = 1.5rem   $font2
$title5    = 1.375rem $regular
$title6    = 1.25rem  $regular
$title7    = 1rem     $medium

$subtitle  = 1.125rem $regular

$body1     = 1rem     $regular
$body2     = 0.875rem $regular
$body3     = 0.875rem $light

$caption   = 0.75rem  $regular
$overline  = 0.75rem  $light

//Variants
$title4-price             = 1.5rem   $font2
$title4-discount          = 1.5rem   $regular
$title4-bold              = 1.5rem   $bold
$title6-popup             = 1.25rem  $medium
$title6-discount-plp-list = 1.25rem  $medium
$title6-price-plp-list    = 1.25rem  $medium
$title6-slot              = 1.25rem  $light
$share-modal              = 1.25rem  $regular

$body1-price-plp-grid     = 1rem     $regular
$body1-discount-plp-grid  = 1rem     $regular
$body1-button-color       = 1rem     $regular
$body1-description        = 1rem     $light

$body2-footer-bold        = 0.875rem $bold
$body2-footer             = 0.875rem $regular
$body2-others             = 0.875rem $regular
$body2-title              = 0.875rem $medium

$body3-legend             = 0.875rem $light

$overline-footer          = 0.75rem  $regular
$overline-module          = 0.75rem  $light
$overline-link            = 0.75rem  $regular
$overline-link-mobile     = 0.75rem  $regular
$overline-medium          = 0.75rem  $medium

$actionButton-text        = 0.7rem   $regular

$flagMesa                 = 0.625rem $regular

$title4_discount          = 1.5rem   $regular

$body2                    = 0.875rem $regular
$body2-footer             = 0.875rem $bold
$body3                    = 0.875rem $light
$body4                    = 0.875rem $medium
$title5-discount          = 1.375rem $medium

$seoText-light            = 1.375rem $light
$seoText-bold             = 1.375rem $bold
$body1-section            = 1rem     $bold
$body1-menu-title         = 1rem     $medium

$checkout_nameTitle = 1.625rem $bold
$checkout_nameTitle2 = 1.125rem $bold
