if  $liverpool
		$primary-color       = #e10098
		$primary-color-hover = #c20083
		$pale-pink= #ff87d8

		$regular = $font2 = 'robotoRegular'
		$light   = 'robotoLight'
		$medium  = 'robotoMedium'
		$bold    = 'robotoBold'

if  $pottery
		$primary-color       = #990000
		$primary-color-hover = #730000
		$pale-pink           = #c59999

		$regular = 'latoregular'
		$light   = 'latolight'
		$medium  = 'latomedium'
		$bold    = 'latobold'

		$font2   = 'centuryregular'

if  $kids
		$primary-color       = #80B9E6
		$primary-color-hover = #6394BF
		$pale-pink           = #99CFFF

		$regular = 'arialregular'
		$light   = 'ariallight'
		$medium  = 'arialmedium'
		$bold    = 'arialtbold'

		$font2   = 'georgiaregular'

if  $teens
		$primary-color       = #165388
		$primary-color-hover = #103E66
		$pale-pink           = #4192D9

		$regular = 'arialregular'
		$light   = 'ariallight'
		$medium  = 'arialmedium'
		$bold    = 'arialtbold'

		$font2   = 'trebuchetregular'

if  $west
		$primary-color       = #ED2724
		$primary-color-hover = #D31D1B
		$pale-pink           = #FF8280

		$regular = $font2 = 'gothamregular'
		$light   = 'gothamlight'
		$medium  = 'gothammedium'
		$bold    = 'gothambold'

if  $william
		$primary-color       = #E81818
		$primary-color-hover = #BF1313
		$pale-pink           = #E87474

		$regular = 'flamaregular'
		$light   = 'flamalight'
		$medium  = 'flamamedium'
		$bold    = 'flamabold'

		$font2   = 'timesregular'
